* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
}

main {
    margin: 15px auto;
    width: 80%;
}

.articolo {
    width: 30%;
    cursor: pointer;
    float: left;
    margin: 10px;
}
.a{
    position: relative;
    height: 490px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/img/1.webp);
}
.b{
    position: relative;
    height: 490px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/img/2.webp);

}

.c{
    position: relative;
    height: 490px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/img/3.webp);


}
.d {
    position: relative;
    height: 490px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/img/4.webp);


}
.e{
    position: relative;
    height: 490px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/img/5.webp);


}

.f{
    position: relative;
    height: 490px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/img/6.webp);


}

.like {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 5px 10px;
    background-color: #FFF;
    font-size: 24px;
}

.like:hover {
    background-color: #F00;
    color: #FFF;
}

.info {
    position: absolute;
    bottom: 15px;
    left: 0;
}

.discount, .sosten {
    padding: 5px;
    color: #FFF;
    font-weight: bold;
}

.discount {
    background-color: #f00;
}

.sosten {
    background-color: #00875A;
}

.brand {
    font-size: 14px;
    color: #333;
}

.label {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}

.price {
    font-size: 14px;
    color: #f00;
    font-weight: bold;
}

.old {
    text-decoration: line-through;
    color: #000;
    font-weight: normal;
}

/* hover */

.a:hover{
    background-image: url(./img/img/1b.webp);
    z-index:1;
}
    
.b:hover {
    background-image: url(./img/img/2b.webp);
    z-index:1;
}

.c:hover {
    background-image: url(./img/img/3b.webp);
    z-index:1;
}

.d:hover
{
    background-image: url(./img/img/4b.webp);
    z-index:1;
}

.e:hover {
    background-image: url(./img/img/5b.webp);
    z-index:1;
}

.f:hover{
    background-image: url(./img/img/6b.webp);
    z-index:1;
}

.discount:hover{
    background-color: rgba(240, 69, 69, 0.74);
    z-index:1;
}

.sosten:hover{
    background-color: rgb(86, 252, 169);
    color: black;
    z-index: 1;
}