main{
    margin: 10px auto;
    width:50%;    
}
img{
    width: 32%;
    margin: 0px 7px 40px 0px;
    float: left;
    position: relative;
}
.primastringa::after{
    content:"";
    clear: both;
    display:table;
}
.seconda::after{
    clear: both;
    display:table;
    content:"";
}
.sconto{
    background-color: rgb(155, 21, 21);
    color: white;  

}
.eco{
    
}
.info{
    position: relative;
    bottom: -290px;
    left: 2px;
    z-index:1;
}
